@mixin no-us {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin width-transit-mixin($start, $width) {
  @keyframes width-transit {
    from {
      width: $start;
    }
    to {
      width: $width;
    }
  }
}

@keyframes slide-in-y-l {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-y-r {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-x-l {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-x-r {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-y-l {
  100% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0);
  }
}

@keyframes slide-out-y-r {
  100% {
    transform: translateY(100%);
  }
  0% {
    transform: translateY(0);
  }
}

@keyframes slide-out-x-l {
  100% {
    transform: translateX(-100%);
  }
  0% {
    transform: translateY(0);
  }
}

@keyframes slide-out-x-r {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateY(0);
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}

.refresh {
  animation: refresh .75s ease-in;
}
