:root {
  --p0r: 121, 126, 246;
  --p0: rgb(121, 126, 246);
  --p1: #4adede;
  --s0: #1aa7ec;
  --s1r: 30, 47, 151;
  --s1: rgb(30, 47, 151);
  --h0: #3d115e;
  --spl: #303538;
  --sph: #adbdc9;
  --bg: lavender;
}
