.header-cnt {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 999;
}
@keyframes slide-in-y-l {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-y-r {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-x-l {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-x-r {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-y-l {
  100% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes slide-out-y-r {
  100% {
    transform: translateY(100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes slide-out-x-l {
  100% {
    transform: translateX(-100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes slide-out-x-r {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}
.header-cnt .refresh {
  animation: refresh 0.75s ease-in;
}
.header-cnt.scrolled {
  position: sticky;
  background: var(--s1);
  transition: background linear 200ms;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}
.header-cnt.scrolled .header--hero {
  max-width: 133.3333333333px;
  transition: height 200ms;
}
.header-cnt.scrolled a, .header-cnt .header.on a {
  color: var(--sph);
}
@media (hover: hover) {
  .header-cnt.scrolled a:hover, .header-cnt .header.on a:hover {
    color: white;
  }
}
.header-cnt:not(.scrolled) a {
  color: var(--spl);
}
@media (hover: hover) {
  .header-cnt:not(.scrolled) a:hover {
    color: black;
  }
}
.header-cnt a {
  display: block;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.header-cnt .header {
  flex: 1;
}
.header-cnt .header.on .header--links {
  display: initial;
  position: absolute;
  right: 0;
  width: 85%;
  height: fit-content;
  margin: 10px;
  backdrop-filter: blur(8px);
  background: rgba(var(--s1r), 0.5);
  box-shadow: 0 0 40px;
  border-radius: 10px;
  animation: width-transit ease-out 0.5s;
}
@keyframes width-transit {
  from {
    width: 30%;
  }
  to {
    width: 85%;
  }
}
.header-cnt .header.on .header--links li {
  margin-inline: 0 auto;
}
.header-cnt .header.on .header--menu {
  transform: rotate(360deg);
  padding: 10px;
  font-weight: 550;
  transition: transform 0.5s;
}
.header-cnt .header--hero {
  max-width: 200px;
  height: 100%;
}
.header-cnt .header--links {
  list-style: none;
  display: flex;
  width: fit-content;
  margin-inline: auto 0;
}
.header-cnt .header--links li {
  list-style: none;
  line-height: 25px;
  padding-inline: 20px;
  margin-block: 10px;
}
.header-cnt .header--links.menu {
  display: none;
}
.header-cnt .header--menu {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  right: 15px;
  top: 10px;
  width: fit-content;
  cursor: pointer;
  font-weight: 1000;
  font-size: 25px;
  background: transparent;
  border: 0;
  transform: rotate(90deg);
  color: var(--p1);
}
.header-cnt .header--menu.hide {
  display: none;
}

/*# sourceMappingURL=Header.css.map */
