.header-cnt {
  @import "../../styles/global";

  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 999;

  &.scrolled {
    background: var(--s1);
    transition: background linear 200ms;

    a {
      color: var(--sph);

      @media (hover: hover) {
        &:hover {
          color: white;
        }
      }
    }
  }

  &:not(.scrolled) {
    a {
      color: var(--spl);

      @media (hover: hover) {
        &:hover {
          color: black;
        }
      }
    }
  }

  a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }

  .header {
    flex: 1;

    &.on {
      & .header--links {
        display: initial;
        position: absolute;
        right: 0;
        width: 85%;
        height: 200%;
        margin: 10px;

        backdrop-filter: blur(8px);
        background: rgba(var(--s1r), .5);
        box-shadow: 0 0 40px;
        border-radius: 10px;

        @include width-transit-mixin(30%, 85%);
        animation: width-transit ease-out .5s;

        li {
          margin-inline: 0 auto;
        }
      }

      & .header--menu {
        transform: rotate(360deg);
        padding: 10px;
        font-weight: 550;
        transition: transform .5s;
      }
    }
  }

  .header--hero {
    max-width: 200px;
    height: 100%;
  }

  .header--links {
    list-style: none;
    display: flex;
    width: fit-content;
    margin-inline: auto 0;

    li {
      list-style: none;
      line-height: 25px;
      padding-inline: 20px;
      margin-block: 10px;
    }

    &.menu {
      display: none;
    }
  }

  .header--menu {
    @include no-us;
    position: absolute;
    right: 15px;
    top: 10px;
    width: fit-content;

    cursor: pointer;
    font-weight: 1000;
    font-size: 25px;
    background: transparent;
    border: 0;
    transform: rotate(90deg);
    color: var(--p1);

    &.hide {
      display: none;
    }
  }
}
