$foot-bg: rgb(58, 58, 58);
$foot-bgX: adjust-color($foot-bg, $whiteness: 25%);
$p-col: rgb(196, 195, 195);
$span-col: white;
$a-col: rgb(38, 37, 37);
$a-col-hov: $p-col;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    color: $p-col;
  }

  span {
    color: $span-col;
    font-weight: bold;
  }

  a {
    color: $a-col;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: $a-col-hov;
      }
    }
  }
}

.Footer {
  display: flex;
  width: 100%;
  padding-block: 40px 10px;
  padding-inline: 20px;
  background-color: $foot-bgX;

  .content-h {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .content-v {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    list-style: none;
    margin-bottom: 10px;

    li {
      list-style: none;
    }
  }

  .footer-hero {
    height: 50px;
    width: 200px;
  }
}

.Footer--end {
  display: flex;
  width: 100%;
  padding-block: 20px 5px;
  padding-inline: 10px;
  background-color: $foot-bg;
  justify-content: right;
}
