.footer-cnt {
  @import "../../styles/global";

  position: relative;
  bottom: 0;
  width: 100%;

  hr {
    border-color: var(--p0);
  }

  a {
    color: var(--spl);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: black;
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    background: var(--p0);
    padding: 5px;
  }

  .footer--end {
    display: flex;
    width: 100%;
    background: var(--s1);
    padding: 5px;
    justify-content: right;

    p {
      font-weight: 500;

      &:after {
        padding-inline: 5px;
        content: "|";
      }
    }

    span {
      font-weight: bold;
      color: var(--sph);
    }

    &:after {
      content: "";
      width: 20px;
    }
  }

  .footer--links {
    list-style: none;

    li {
      list-style: none;
      line-height: 25px;
    }
  }

  .footer--hero {
    max-width: 150px;
  }

  .content-h {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
  }

  .content-v {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
  }

  .content-h, .content-v {
    padding-left: 10px;
    padding-top: 5px;
    flex-wrap: wrap;

    .head {
      margin-left: -5px;
      font-weight: bold;
      color: var(--h0);
    }
  }
}
