.Mover-cnt {
  @import "../../styles/global";
  --pos-from: 0, 0;

  @keyframes enter {
    from {
      transform: translate(var(--pos-from));
    }
  }

  width: 100%;

  .Mover {
    position: relative;
    padding: 10px;

    .Move {
      @include center();
      position: absolute;

      * {
        box-shadow: 2px 2px 10px;
      }
    }
  }
}
