$dot: 7px;

.Slider-cnt {
  @import "../../styles/global";
  position: relative;
  overflow: hidden;
  margin: 10px;
  --anim-time: .5s;
  --height: 75vh;

  @media (max-width: 700px) {
    --height: 50vh;
  }

  @mixin arrow {
    @include no-us();
    @include center();

    position: absolute;
    top: 0;
    height: 100%;
    z-index: 3;

    font-size: 3em;
    font-weight: 1000;
    color: var(--spl);
    text-shadow: var(--sph) 0 0 3px;
    cursor: pointer;
    padding-inline: 1pc;
  }

  .left {
    @include arrow();
    left: 0;

    &:after {
      content: "<";
    }
  }

  .right {
    @include arrow();
    right: 0;

    &:after {
      content: ">";
    }
  }

  .Slider {
    position: relative;
    width: 100%;
    height: var(--height);

    .comp {
      @include center();
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 10px;
      list-style: none;

      opacity: 0;
      transition: opacity var(--anim-time);
      animation: normal;
      will-change: animation;

      * {
        border-radius: 1em;
        max-width: 100%;
        max-height: 100%;
      }

      &.active {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  .dots {
    display: flex;
    margin-inline: auto;
    width: fit-content;

    .dot {
      margin: 2px;
      width: $dot;
      height: $dot;
      border-radius: 50%;
      border: 1px solid var(--s1);
      transition: all var(--anim-time) / 3;

      &.active {
        background: var(--s1);
        transition: all var(--anim-time) / 3;
      }
    }
  }
}
