.Slider-cnt {
  position: relative;
  overflow: hidden;
  margin: 10px;
  --anim-time: .5s;
  --height: 75vh;
}
@keyframes slide-in-y-l {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-y-r {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-x-l {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-x-r {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-y-l {
  100% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes slide-out-y-r {
  100% {
    transform: translateY(100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes slide-out-x-l {
  100% {
    transform: translateX(-100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes slide-out-x-r {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}
.Slider-cnt .refresh {
  animation: refresh 0.75s ease-in;
}
@media (max-width: 700px) {
  .Slider-cnt {
    --height: 50vh;
  }
}
.Slider-cnt .left {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 3;
  font-size: 3em;
  font-weight: 1000;
  color: var(--spl);
  text-shadow: var(--sph) 0 0 3px;
  cursor: pointer;
  padding-inline: 1pc;
  left: 0;
}
.Slider-cnt .left:after {
  content: "<";
}
.Slider-cnt .right {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 3;
  font-size: 3em;
  font-weight: 1000;
  color: var(--spl);
  text-shadow: var(--sph) 0 0 3px;
  cursor: pointer;
  padding-inline: 1pc;
  right: 0;
}
.Slider-cnt .right:after {
  content: ">";
}
.Slider-cnt .Slider {
  position: relative;
  width: 100%;
  height: var(--height);
}
.Slider-cnt .Slider .comp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  list-style: none;
  opacity: 0;
  transition: opacity var(--anim-time);
  animation: normal;
  will-change: animation;
}
.Slider-cnt .Slider .comp * {
  border-radius: 1em;
  max-width: 100%;
  max-height: 100%;
}
.Slider-cnt .Slider .comp.active {
  z-index: 2;
  opacity: 1;
}
.Slider-cnt .dots {
  display: flex;
  margin-inline: auto;
  width: fit-content;
}
.Slider-cnt .dots .dot {
  margin: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid var(--s1);
  transition: all var(--anim-time)/3;
}
.Slider-cnt .dots .dot.active {
  background: var(--s1);
  transition: all var(--anim-time)/3;
}

/*# sourceMappingURL=Slider.css.map */
